.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mCont {
  display: flex;
  height: 50%;
  width: 50%;
  position: fixed;
  background-color: azure;
  justify-content: center;
  align-items: center;
}

.mContent {
  background-color: blue;
  height: 50%;
  width: 50%;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
